.hero_container {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin: 3rem 0;
}
.hero {
  width: 90%;
}
.heroTop {
  margin-top: -12rem;
}
.heroTop h2 {
  width: 50vw;
  padding-top: 4rem;
}
.heroTop p {
  width: 100%;
  position: relative;
  left: -6rem;
}
.imgAsomado {
  width: 6rem;
  position: relative;
  top: 4rem;
}

.heroMiddle {
  margin-left: 1rem;
  margin-top: -5rem;
  width: 50%;
}
.heroMiddle h2 {
  width: 60vw;
}
.heroMiddle p {
  padding-right: 7rem;
}

.imgParado {
  width: 8rem;
  position: relative;
  top: 7rem;
  right: -1rem;
}

.heroBottom {
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: flex-start;
  padding-top: -5rem;
  margin-left: 1rem;
}
.Hero_imgBottom {
  height: 0rem;
}
.heroBottom p {
  position: relative;
  padding-left: -5rem;
}
.imgAcostado {
  width: 11rem;
  position: relative;
  top: -2rem;
}

.heroP {
  text-align: center;
  ;
}
.hero h2 {
  margin: 4rem 0 0rem 0rem;
  font-size: 1rem;
  font-family: var(--font-main);
  color: transparent;
  background: var(--color-title);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero span {
  color: transparent;
  background: var(--color-font);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: var(--color-font);
  margin-left: 0rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  line-height: 1.5;
  text-align: left;
  width: 85vw;
}

.heroText p {
  text-align: center;
  margin-top: 1rem;
  width: 80vw;
}
.heroText {
  width: 100%;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-top: -5rem;
}

@media screen and (min-width: 375px) {
  .heroTop p {
    left: -5.5rem;
    padding-top: 1rem;
    width: 80vw;
  }
}
@media screen and (min-width: 412px) {
  .imgParado {
    width: 8rem;
    position: relative;
    top: 7rem;
    left: 3rem;
  }
  .heroTop h2 {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .hero p {
    font-size: 1rem;
    left: 0rem;
    width: 70vw;
  }
  .hero h2 {
    font-size: 1.3rem;
    padding: 0rem;
  }
  .imgAsomado {
    width: 10rem;
  }
  .imgParado {
    width: 10rem;
  }
  .imgAcostado {
    width: 10rem;
  }
  .heroMiddle p {
    width: 80vw;
  }
  .imgParado {
    left: 10rem;
    width: 12rem;
    top: 3rem;
  }

  .heroBottom p {
    width: 90vw;
    padding-left: 17rem;
  }
  .heroBottom {
    padding-bottom: 2rem;
  }
  .heroBottom h2 {
    padding-top: 0rem;
    margin-top: 0;
    padding-left: 17rem;
  }
  .imgAcostado {
    height: 10rem;
    width: auto;
    margin-top: 2rem;
  }
  .heroP {
    width: 95%;
  }
 .heroP p{
  width: 100%;
 }
}

@media screen and (min-width: 1024px) {
  .imgAsomado {
    width: 15rem;
  }
  .imgAcostado {
    height: 15rem;
    margin-top: 4rem;
  }
  .imgParado {
    width: 17rem;
    left: -7rem;
    top: 1rem;
  }
  .hero p {
    font-size: 1.3rem;
    left: 0rem;
    width: 65vw; 
  }
  .heroMiddle {
    padding-top: 3rem;
    margin-left: 4rem;
    width: 80vw;
  }
  .hero h2 {
    font-size: 1.8rem;
  }
  .heroTop p h2 {
    padding-left: 5rem;
  }
  .heroBottom p {
    width: 75vw;
    left: 8.5rem;
    padding-bottom: 1rem;
  }
  .heroBottom h2 {
    padding-top: 3rem;
    padding-left: 25rem;
  }
  .heroP p{
    width: 100%;
  }
  
}
@media screen and (min-width: 1280px){
  .hero p {
    font-size: 1.3rem;
  }
  .hero h2 {
    font-size: 2.1rem;
    padding-top: 2rem;
  }
  .heroTop p{
    width: 70vw;
  }
  .heroP p{
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .imgAsomado {
    width: 15rem;
  }
  .imgAcostado {
    height: 18rem;
    margin-top: 4rem;
  }
  .imgParado {
    width: 18rem;
    left: -5rem;
    top: 2rem;
  }
  .hero p {
    font-size: 1.5rem;
  }
  .hero h2 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .heroMiddle p{
    width: 75vw;
  }
  .heroBottom h2 {
    margin-left: 8rem;
  }
  .heroBottom p {
    padding-left: 25rem;
    width: 80vw;
    padding-bottom: 5rem;
  }
}
