.hero_container {
  min-height: 80vh;
}

.hero {
  z-index: 2;
  transform: translateY(50%);
  text-align: left;
  text-align: center;
  margin: 0 auto;
}

.hero span {
  padding: 0 15px 0 0;
}

.hero h1 {
  font-size: 90px;
  text-transform: uppercase;
  margin: 0;
  font-family: "Titan One", "Quicksand", sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
  /* background: #59c1bd; */
  /* background: linear-gradient(to right, #59c1bd 50%, #c2e6e5 50%); */
  background: var(--color-title);
  background-size: 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-animation: gradient 2s infinite linear; */
  /* animation: gradient 2s infinite linear; */
}

@-webkit-keyframes gradient {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: -100% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: -100% 0%;
  }
}

.hero h2 {
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
  color: var(--color-font);
  font-weight: 600;
  letter-spacing: 4px;
}

.hero p {
  color: var(--color-font);
  max-width: 650px;
  margin: 20px auto 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}

strong {
  font-weight: 500;
  line-height: 1.8;
}

button {
  padding: 14px 25px;
  border: var(--color-border) solid 1px;
  border-radius: 10px;
  background-color: var(--color-BgBtn);
  color: var(--color-btn);
  font-size: 16px;
  /* letter-spacing: 1px; */
  cursor: pointer;
  font-weight: 400;
}

.cta {
  font-size: 18px;
  font-weight: 800;
  color: var(--color-btn);
  background-color: var(--color-BgBtn);
  margin-left: 10px;
}

@media screen and (max-width: 1023px) {
  .hero {
    text-align: center;
    margin-top: 80px;
    bottom: 80px;
    transform: none;
    left: 0;
    right: 0;
  }

  .hero p {
    max-width: 90%;
    margin: 20px auto 40px;
    width: 600px;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 40px;
  }
}