@import url('./normalize.css');
@import url('./variables.css');

html {
  background: var(--dark);
  background: linear-gradient(0deg, var(--dark) 0%, var(--darker) 100%);
  /* animation: hide 7.5s; */
}

@keyframes hide {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: hidden;
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--darker);
  background-color: var(--darker);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--lighter-aqua);
}
