@import url('./normalize.css');
@import url('./variables.css');

html {
  background-color: var(--color-bg);
}

@-webkit-keyframes hide {
  from {
    max-height: 100vh;
    overflow-y: hidden;
  }

  to {
    max-height: 100vh;
    overflow-y: hidden;
  }
}

@keyframes hide {
  from {
    max-height: 100vh;
    overflow-y: hidden;
  }

  to {
    max-height: 100vh;
    overflow-y: hidden;
  }
}

.appContainer {
  -webkit-animation: hide 7.5s;
  animation: hide 7.5s;
}
body{
  background-color: var(--color-bg);
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--color-bg);
  background-color: var(--color-bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg);
}