.features_container {
  position: relative;
  max-width: 620px;
  z-index: 2;
  min-height: 60vh;
  position: relative;
  transform: translateY(30%);
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-bottom: 400px;
}
.features_container h4 {
  font-size: 60px;
  padding-bottom: 15px;
  margin: 0;
  /* color: #0f2c43; */
  color: white;
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.features_container h3 {
  font-size: 40px;
  color: white;

  margin: 0;
  /* color: #0f2c43; */
  font-weight: 800;
  letter-spacing: 1px;
}
.configure {
  margin-top: 300px;
}
.features_container img {
  margin-top: 30px;
}
.vertical_line {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 1px;
  /* background: white; */
  background: linear-gradient(to bottom, #20435e, #fff 50%);
  background-size: 100% 200%;
  /* animation: gradient2 3s infinite linear; */
}
@keyframes gradient2 {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 -100%;
  }
}
