@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import '../../fonts/fonts.css';

.container {
  width: 100%; 
  max-width: none; 
  margin: 0 auto; 
  padding: 60px 40px;
  position: relative;
  background-color: #0a092a;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 150px;
  z-index: 0;
}

.text_section {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: 50px;
}

.text_title {
  text-align: center;
}

.text_title h2 {
  font-family: "Balbek Pro", sans-serif;
  color: white;
  font-size: 4.5rem;
  font-weight: 800;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.textBox {
  font-family: "Montserrat", sans-serif;
  background: rgba(44, 54, 66, 0.2);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 25px 35px;
  border-radius: 15px;
  margin: 0 auto ;
  text-align: left;
  line-height: 1.6;
  max-width: 800px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 130px;
  margin-top: 30px;
  white-space: pre-wrap;
}

.wavesBackground {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../img/waves-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
  filter: brightness(0.8);
  width: 100%;
}

.semicircle {
  position: absolute;
  top: 0;
  right: 0;
  width: 290px; 
  height: 700px;
  background-image: url("../../img/gradient.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }

  .text_title h2 {
    font-size: 2.2rem;
  }

  .textBox {
    font-size: 0.9rem;
    padding: 20px 25px;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 30px 15px;
  }

  .text_title h2 {
    font-size: 1.9rem;
  }

  .textBox {
    font-size: 0.85rem;
    padding: 20px 20px;
  }
}
