.mobilContainer {
  background: radial-gradient(63.88% 50.88% at 52.81% 35%, #647481 0%, #093F68 100%);
  background-color: var(--color-bg);
  width: 100%;
  /* height: 100%; */
  /* height: calc( 1vh * 100); */
  height: 100dvh;
  z-index: 22;
  position: fixed;
  top: 0;
  left: 0;
}

.mobileHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 0 2.5rem;
}

.navMobile {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25rem;
}

.linkM {
  font-size: 2.125rem;
  font-family: var(--font-main);
  background: var(--color-title);
  background-size: 200% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.ligths {
  align-self: flex-end;
  position: relative;
  bottom: 0;
  margin: 8rem 4rem 0 6rem;
}

.ligths svg{
  height: 14rem;
}