.container {
  padding: 1rem 2rem;
  width: 100%;
  height: 10vh;
  display: flex;
}

.logoContainer {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.logoContainerAnim {
  -webkit-animation: entranceContainer 7.5s 1 ease;
  animation: entranceContainer 7.5s 1 ease;
}

.svgLogoAnim {
  -webkit-animation: entranceLogo 7.5s 1 ease;
  animation: entranceLogo 7.5s 1 ease;
}

.svgLogo {
  width: 15rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  font-size: 1rem;
  opacity: 0;
  -webkit-animation: entranceNavbar 1.5s forwards ease;
  animation: entranceNavbar 1.5s forwards ease;
}

.navbarAnim {
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

.navbar>*,
.navbarAnim>* {
  font-family: var(--main-font);
  color: #349aef;
}

.link {
  position: relative;
  margin: 0 1rem;
  text-decoration: none;

  transition: 0.3s ease transform;
  color: var(--color-font);
  font-family: var(--font-menu);
  font-weight: 400;
}

.link:hover {
  transform: scale(1.2);
}

.link:before,
.link:after {
  content: '';
  position: absolute;

  background-color: var(--aqua);
  transform: scale(0);
}

.link::before {
  border-radius: 50%;
  top: -15%;
  left: -15%;
  width: 4px;
  height: 4px;

  transition: 0.5s ease transform;
}

.link:after {
  bottom: -35%;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;

  transition: 0.5s ease transform;
}

.link:hover::before,
.link:hover::after {
  transform: scale(1);
}

.activeLink::before,
.activeLink::after {
  content: '';
  position: absolute;
  transform: scale(1);
  background-color: var(--aqua);
  transition: 0.5s ease all;
}

.activeLink::before {
  border-radius: 50%;
  top: -15%;
  left: -15%;
  width: 4px;
  height: 4px;
}

.activeLink::after {
  bottom: -35%;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
}

.activeLink:hover::before,
.activeLink:hover::after {
  background-color: var(--aqua);
}

.navbar>button {
  padding: 10px 20px;
  background-color: transparent;
  border: solid 1px var(--white);
  border-radius: 10px;

  transition: all 0.3s ease;
}

.navbar>button:nth-of-type(1) {
  margin: 0 1rem;
}

nav button:hover {
  background-color: var(--color-font);
  color: var(--dark);
}

@-webkit-keyframes entranceContainer {
  0% {
    height: 98vh;
  }

  50% {
    height: 98vh;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 100%;
  }
}

@keyframes entranceContainer {
  0% {
    height: 98vh;
  }

  50% {
    height: 98vh;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 100%;
  }
}

@-webkit-keyframes entranceLogo {
  0% {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) scale(3);
  }

  50% {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) scale(3);
  }

  75% {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1);
  }
}

@keyframes entranceLogo {
  0% {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) scale(3);
  }

  50% {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) scale(3);
  }

  75% {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1);
  }
}

@-webkit-keyframes entranceNavbar {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes entranceNavbar {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NAVBAR mobile */
.mobile {
  display: none;
}

.hamburger {
  /* width: 1.5rem;
  right: 2rem;
  top: 2.5rem;
  position: absolute; */
  
}


@media screen and (max-width: 920px) {
  .svgLogo {
    width: 10rem;
  }

  .navbar {
    display: none;
  }

  .mobile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 60%;
    align-self: center;
  }
  .hamburger {
  top: 2.5rem;
}

  @-webkit-keyframes entranceLogo {
    0% {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%) scale(1);
    }

    50% {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%) scale(1);
    }

    75% {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%) scale(1);
    }

    100% {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%) scale(1);
    }
  }

  @keyframes entranceLogo {
    0% {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%) scale(1);
    }

    50% {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%) scale(1);
    }

    75% {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%) scale(1);
    }

    100% {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%) scale(1);
    }
  }
}

@media screen and (max-width: 425px){
  .mobile{
    height: 50%;
  }
}

