.container {
  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mission {
  margin: 5rem 0;
  width: 85%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  overflow-x: hidden;
}

.mission .title {
  margin: auto 0;
  margin-right: 1rem;
  text-align: center;
  font-family: "Titan One", "Quicksand", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  background: linear-gradient(to right, #59c1bd, #c2e6e5, #59c1bd);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  grid-column: 1;
  grid-row: 1;

  animation: appearL 2s ease;
}

@keyframes appearL {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mission .text {
  margin: auto;
  margin-left: 3rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: var(--second-font);
  font-weight: 300;

  grid-column: 2 / span 2;
  grid-row: 1;

  animation: appearR 2s ease;
}

@keyframes appearR {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.values {
  margin: 5rem 0;
  width: 85%;
}

.values .title {
  margin: 2rem 0;
  text-align: center;
  font-family: "Titan One", "Quicksand", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  background: linear-gradient(to right, #59c1bd, #c2e6e5, #59c1bd);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: appearO 2s ease;
}

@keyframes appearO {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.value {
  margin: 5rem 2rem;
  display: flex;

  animation: appearL 1s ease;
}

.values > .value:nth-of-type(even) {
  flex-direction: row-reverse;

  animation: appearR 1s ease;
}

.value > strong {
  margin: 0 1.5rem;
  padding: 1rem;
  color: var(--white);
  border-radius: 10px;
  font-size: 2.6rem;
  font-family: "Titan One", "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value > p {
  margin: auto 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: var(--second-font);
  font-weight: 300;

  grid-column: 2 / span 2;
  grid-row: 1;
}

.vertical_line {
  height: 200px;
  width: 1px;
  background: linear-gradient(to bottom, #20435e, #fff 50%);
  background-size: 100% 200%;
}
