.container {
  color: var(--white);
}
.text_section {
  margin: 5rem 0;
  width: 100%;
  background: var(--color-input);
  height: 8rem;
  border-radius: 5.625rem;
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.vector1 {
  display: flex;
  position: relative;
  justify-content: flex-start;
  margin-top: 3.5rem;
}

.vector2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Titan One', 'Quicksand', sans-serif;
}

.text_title::before,
.text_title::after {
  content: '';
  position: absolute;
  top: 75%;
  width: 30%;
  height: 1px;
  background:linear-gradient(to left, #1E88E5 -38.76%, #989EA4 110.08%);
  background-size: 200% 100%;
}

.text_title::before {
  left: 5%;
}

.text_title::after {
  right: 5%;
  background: linear-gradient(to rigth, #1E88E5 -38.76%, #989EA4 110.08%);
}

.mission .title {
  margin: auto 0;
  margin-right: 1rem;
  text-align: center;

  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  background: linear-gradient(to right, #59c1bd, #c2e6e5, #59c1bd);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  grid-column: 1;
  grid-row: 1;

  animation: appearL 2s ease;
}

@keyframes appearL {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mission .text {
  margin: auto;
  margin-left: 3rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: var(--second-font);
  font-weight: 300;

  grid-column: 2 / span 2;
  grid-row: 1;

  animation: appearR 2s ease;
}

@keyframes appearR {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.values {
  margin: 5rem 0;
  width: 85%;
}

.values .title {
  margin: 2rem 0;
  text-align: center;

  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  background: linear-gradient(to right, #59c1bd, #c2e6e5, #59c1bd);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: appearO 2s ease;
}

@keyframes appearO {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.value {
  margin: 5rem 2rem;
  display: flex;

  animation: appearL 1s ease;
}

.values > .value:nth-of-type(even) {
  flex-direction: row-reverse;

  animation: appearR 1s ease;
  text-align: end;
}

.value > strong {
  margin: 0 1.5rem;
  padding: 1rem;
  color: var(--white);
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 300;

  display: flex;
  justify-content: center;
  align-items: center;
}

.value > p {
  margin: auto 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: var(--second-font);
  font-weight: 300;

  grid-column: 2 / span 2;
  grid-row: 1;
}

@media screen and (max-width: 480px) {
  .container {
    margin-bottom: 2rem;
  }
  
  .title {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
  
  .text {
    font-size: .75rem;
    text-align: left;
    font-style: normal;
    line-height: 2rem;
  }
  
  .text p {
    width: 100%;
  }
  
  .values {
    margin: 0;
    margin-bottom: 3rem;
  }
  
  .values .title {
    font-size: 2.5rem;
    position: relative;
    right: 3rem;
  }

  

  .value > p {
    margin: 0;
    font-size: 1rem;
  }

  .value {
    margin: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .text_section {
    height: 5rem;
    /* border-radius: 5.625rem; */
  }

  .text_title{
    margin-top: .6rem;
  }

  .text_title::before,
  .text_title::after{
    top: 70%;
    width: 20%;
  }

  .robot{
    left: 5.5rem;
    top: 7.06rem;
    
}

@media (min-width: 481px) and (max-width: 920px) {}}
