.footerDistributed {
  background-color: var(--color-bg); 
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 10px 50px; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-shrink: 0;
  margin-top: 0; 
  flex-wrap: wrap; 
}

.copy {
  color: var(--color-font);
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}

.footerDistributed p.footerLinks {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-font);
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footerDistributed p.footerLinks .navlink {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footerDistributed .footerLinks .navlink:before {
  content: " · ";
  font-size: 20px;
  left: 0;
  color: var(--color-font);
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.footerDistributed .footerLinks .link1:before {
  content: none;
}

.footerRight {
  min-width: 150px;
  text-align: right;
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  flex-shrink: 0;
  padding-right: 50px;
}

.footerRight .navlink{
margin-right: 1em;
}
.footerDistributed .footerCenter {
  margin-top: 20px;
  display: inline;
}

.footerDistributed .footerLeft {
  margin-top: 10px;
}
.footerLeft img {
  max-width: 230px;
}

.footerDistributed .footerRight .navlink {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  margin-left: 6px;
  transition: all 0.25s;
}

.footerDistributed .footerRight .navlink:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footerDistributed p.footerLinks .navlink:hover {
  text-decoration: underline;
}
.socialIcon {
  color: white; 
  font-size: 30px; 
  transition: all 0.25s; 
}

@media (max-width: 910px) {
  .copy {
    display: none;
  }
  .footerLeft,
  .footerRight,
  .footerCenter {
    text-align: center;
  }
  .footerRight{
    justify-content: center;
    margin-top: 10px;
    padding-right: 0;
  }
  .footerDistributed {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-top: 1rem;
  }
  .footerDistributed .footerLeft p.footerLinks {
    line-height: 1.8;
  }
}
