.earth-canvas {
  z-index: 1;
  padding: 0;
}
div.null {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.svg-click {
  position: relative;
  left: 50%;
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  bottom: 1rem;
  left: 8rem;
}

div.iconText {
  position: relative;
  bottom: 6rem;
  left: 3rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  font-size: 0.5rem;
}
.earth-canvas {
  height: 50vh !important;
}

@media screen and (min-width: 768px) {
  .earth-canvas {
    height: 80vh !important;
  }
  div.iconText {
    left: 12rem;
  }
  .mouse {
    left: 15rem;
    width: 5rem;
  }
  .text {
    font-size: 0.8rem;
    margin-top: -1rem;
  }
}
@media screen and (min-width: 1024px) {
  .earth-canvas {
    height: 100vh !important;
  }
  div.iconText {
    left: 18rem;
    bottom: 10rem;
  }
  .mouse {
    padding-bottom: 1rem;
  }
  .text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .text {
    font-size: 1.5rem;
  }
}
