.waitlist {
    position: relative;
    z-index: 2;
    min-height: 40vh;
    scroll-snap-align: start;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .waitlist h2 {
    color: #fff;
    font-weight: 100;
    font-size: 40px;
  }
  .join-waitlist {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    margin: 0 auto;
  }
  
  .join-waitlist input {
    /* background-color: #20435e;
    border: none;
    border-bottom: 2px solid #fff; */
    color: #fff;
    font-size: 18px;
    outline: none;
    padding: 16px 15px;
    transition: border-color 0.3s;
  
    /* From https://css.glass */
    background: rgba(133, 145, 145, 0.77);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid #c2e6e5;
  }
  .join-waitlist input::placeholder {
    color: white;
  }
  
  .join-waitlist input:focus {
    border-color: #c2e6e5;
  }
  
  .join-waitlist button {
    color: black;
    background-color: #c2e6e5;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    padding: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .join-waitlist button:hover {
    background-color: #9ae2e0;
  }
  
  #waitlist {
    height: 100%;
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    overflow:auto;
    z-index: 1;
  }  
  
  .stars-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
 